@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  width: 500px;
  height: 500px;
  max-width: 500px;
  max-height: 500px;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
